<a href="https://colab.research.google.com/github/zulfaanggi/prakalgo/blob/main/Untitled15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print("    @@      @@   @   @@@@@@   @@@@@@   @")
print("   @  @     @ @  @   @        @        @")
print("  @@@@@@    @  @ @   @  @@@   @  @@@   @")
print(" @      @   @   @@   @    @   @    @   @")
print("@        @  @    @   @@@@@@   @@@@@@   @")
def list_to_tuple(input_list):
    return tuple(input_list)

# Contoh list
my_list = [1, 2, 3, 4, 5]

# Konversi list menjadi tuple
my_tuple = list_to_tuple(my_list)

# Output hasil konversi
print("List awal:", my_list)
print("Setelah dikonversi menjadi tuple:", my_tuple)

    @@      @@   @   @@@@@@   @@@@@@   @
   @  @     @ @  @   @        @        @
  @@@@@@    @  @ @   @  @@@   @  @@@   @
 @      @   @   @@   @    @   @    @   @
@        @  @    @   @@@@@@   @@@@@@   @
List awal: [1, 2, 3, 4, 5]
Setelah dikonversi menjadi tuple: (1, 2, 3, 4, 5)

In [5]:
a = ('1021, 1022, 1023', '1025, 1026, 1027', '1029, 1030, 1030')
print(a)
def ratarata(angka):
    rata_rata = [int(x) for x in angka.split(', ')]
    return int(sum(rata_rata) / len(rata_rata))

averages = [ratarata(group) for group in a]
print("rata rata dari tuple adalah : ")
print(averages)
print("===== zulfa satria ranggi =====")
print("===== 065002300031 =====")

('1021, 1022, 1023', '1025, 1026, 1027', '1029, 1030, 1030')
rata rata dari tuple adalah :
[1022, 1026, 1029]
===== zulfa satria ranggi =====
===== 065002300031 =====

In [3]:
a = [1,2,4,3]

print(a)

hasil = 1

for result in a:
    hasil *= result


print(hasil)

[1, 2, 4, 3]
24